.status-bar-button {
    width: auto;
    min-width: 40px;
    height: 22px;
    padding: 0px 6px;
    color: white;
    font-size: 15px;
    font-family: Consolas;
    align-items: center;
    cursor: pointer;
    display: flex;
}

.status-bar-button:hover {
    background: rgba(255, 255, 255, 0.1);
}

.status-bar-button:active {
    background: rgba(255, 255, 255, 0.2);
}

